<%- include('navbar-header'); %>


<table class="users bordered striped">
<thead>
  <tr>
    <th>Nom</th>
    <th>Prenom</th>
    <th>Date de naissance</th>
    <th>Poste</th>
    <th>Salaire</th>
    <th>Date d'entrée</th>
    <th>Date de sortie</th>
    <th>Mail</th>
  </tr>
</thead>

<tbody>
<% for(var i=0; i<users.length; i++) {%>
  <tr class="user">
    <td><%= users[i].name %></td>
    <td><%= users[i].prenom %></td>
    <td><%= users[i].naissance %></td>
    <td><%= users[i].poste %></td>
    <td><%= users[i].salaire %></td>
    <td><%= users[i].date_entry %></td>
    <td><%= users[i].date_out %></td>
    <td><%= users[i].mail %></td>
  </tr>
<% } %>
</tbody>


</table>

<%- include('footer'); %>